.credential { 
    border: 1px solid #CCC;
    margin: 20px;
    border-radius: 10px;
    border-left: 10px solid #7077F7;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

.side-bar {
    align-items: center;
    padding: 30px;
}